# Respect default shortcuts.
$include /etc/inputrc

# Use vi keybindings in other applications (e.g. psql):
set editing-mode vi
set keymap vi-command

# Navigate command history using up/down arrow:
"\e[A": history-search-backward
"\e[B": history-search-forward
